@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: white;
    --color-primary-dark: #0d0d0d;
}


.darkModeEnabled {
     background-color: rgb(12, 12, 23);
     color: white;
   }

